.clearfix {
    clear: both;
}

.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}
header {
    float: left;
    padding: 30px;
}
section {
    margin: 0 auto;
    width: 960px;
}
nav {
    float: right;
}
li {
    display: inline;
}